<!DOCTYPE html>
<!--
 Copyright © 2021 Waleed H. Mebane

   This file is part of Allsembly™ Prototype.

   Allsembly™ Prototype is free software: you can redistribute it and/or
   modify it under the terms of the Lesser GNU General Public License,
   version 3, as published by the Free Software Foundation and the
   additional terms found in the accompanying file named "LICENSE.txt".

   Allsembly™ Prototype is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   Lesser GNU General Public License for more details.

   You should have received a copy of the Lesser GNU General Public
   License along with Allsembly™ Prototype.  If not, see
   <https://www.gnu.org/licenses/>
-->
<html lang="en">
<head>
<meta charset="utf-8" />
</head>
<body>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login" />
</form>
<p><a href="{% url 'registration' %}">Register a new user.</a></p>
<p><small>You may register anonymously.  </br>No email verification is performed.</small></p>
{% if auth_failed %}<p style="color:red">Incorrect UserId or Password</p>{% endif %}
</body>
</html>
