<!DOCTYPE html>
<!--
 Copyright © 2021 Waleed H. Mebane

   This file is part of Allsembly™ Prototype.

   Allsembly™ Prototype is free software: you can redistribute it and/or
   modify it under the terms of the Lesser GNU General Public License,
   version 3, as published by the Free Software Foundation and the
   additional terms directly below this notice.

   Allsembly™ Prototype is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   Lesser GNU General Public License for more details.

   You should have received a copy of the Lesser GNU General Public
   License along with Allsembly™ Prototype.  If not, see
   <https://www.gnu.org/licenses/>.

   Additional terms:

   Without his or her specific prior written permission, neither may the names
   of any author of or contributor to this software be used to endorse products
   derived from this software nor may his or her names, image, or likeness be
   used to promote products derived from this software.

   Nothing in this license shall be interpreted as granting any license to
   any of the trademarks of any of the authors of or contributors to this
   software.
-->
<html lang="en">
<head>
<meta charset="utf-8" />
</head>
<body>
{% if user_limit_reached %}
<p>Sorry, the maximum number of users has been reached. <br />
Please try again later.
</p>
{% else %}
<form action="{% url 'registration' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Register and login" />
</form>
{% endif %}
{% if auth_failed %}<p style="color:red">Unknown error logging in new user. Try logging in from the login page.</p>{% endif %}
{% if passwords_mismatched_or_missing %}<p style="color:red">"Password" and "Retype password" field contents do not match or either field was left blank.</p>{% endif %}
{% if error_nonunique_userid %}<p style="color:red">UserId already exists. Please try a different userid.</p>{% endif %}
</body>
</html>